.RankingContent {
    background-color: rgb(242, 252, 247);
    height: 60%;
    margin: 0.8em 0.8em 0 0.8em;
}

.RankingContent p {
    margin-bottom: 0.5em;
    border-bottom: 2px solid lightseagreen;
}

.RankingContent ol {
    margin: 0 0 0 1em;
    padding: 0;
}