.SearchBar {
    background-color: #E1E8ED;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
@media (max-width: 700px) {
    .SearchBar {
        margin-left: 150px;
    }
}

@media (max-width: 530px) {
    .SearchBar {
        margin-left: 0px;
    }
}



.Wrapper {
    width: 50%;
    max-width: 600px;
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: right;
    top: 0px;
}

.SearchInput {
    width: 100%;
}

.SearchBar input,
.SearchBar input:active {
    margin-top: 12px;
    padding-left: 10px;
    padding: 5px 0 5px 10px;
    width: 100%;
    border-radius: 25px;
    background-color: #F5F8FA;
    border: 1px solid lightgray;
}

.Glass {
    margin-left: 25px;
}

.Glass svg {
    margin-top: 13px;
}