.RankingList {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.RankingList ul {
    margin-top: 5px;
    min-width: 0px;
}

.Wrapper {
    max-width: 425px;
    width: 100%;
}

@media (min-width:700px){
    .RankingList ul {
        margin: 4px auto;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .Wrapper {
        max-width: 750px;
        width: 100%;
    }

}

.InfScroll {
    display: none;
}

