.RankingList {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.RankingList ul {
    min-width: 0px;
}

@media (min-width:700px){
    .RankingList ul {
        margin: 0 auto;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}


.InfScroll {
    display: none;
}
