.RankingList {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}


@media (min-width:700px){
    .RankingList ul {
        margin: 0 auto;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
