.RankingMedia {
    background-color: #F3FAFE;
    height: 100%;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}

.Img {
    height: 60%;
}

.Info {
    height: 30%;
}

.Date {
    color: gray;
    margin-top: 5px;
    font-size: 13px;
}