.RankingMedia {
    background-color: #F3FAFE;
    height: 100%;
    width: 40%;
    text-align: center;
    margin-left: 3px;
}

.Img {
    height: 60%;
    width: 100%;
}

.Img img {
    margin: 0 auto;
}

.Info {
    height: 30%;
}

.Date {
    color: gray;
    margin-top: 5px;
    font-size: 13px;
}