.Toolbar {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 2px lightseagreen;
    position: sticky;
    z-index: 102;
    top: 0;
    left: 0;
    display: flex;
    box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.Toolbar nav {
    height: 100%;
}