.Modal {
    position: absolute;
    z-index: 200;
    left: 5%;
    top: 15%;
    width: 90%;
    border: 2px solid grey;
    border-radius: 5px 5px 5px 5px;
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    min-width: 300px;
}

@media (min-width: 701px){
    .Modal {
        width: 630px;
        left: calc(50% - 315px);
    }
}