.Login {
    width: 100%;
}

.Login h1 {
    margin: 10px 0px;
    text-align: center;
}

.Login p {
    margin-right: 10px;
    text-align: right;
    font-size: 14px;
}

.Login label {
    font-weight: 700;
}

.Wrapper {
    width: 90%;
    margin: 0 auto;
}

.Inline {
    display: flex;
}

.Inline p {
    padding: 4px 0;
}