.Center {
    margin-bottom: 40px;
    margin-top: 56px;
    width: 71%;
    display: flex;
    float: left;
    max-width: 800px;
    margin-left: 484px;
}

@media (max-width: 1560px) {
    .Center {
        margin-left: calc(10% + 254px);
    }
}


@media (max-width: 1254px) {
    .Center {
        width: 77%;
        margin-left: 254px;
    }
}

@media (max-width: 1024px) {
    .Center {
        width: 76%;
        margin-left: 25%;
    }
}


@media (max-width: 800px) {
    .Center {
        width: 76%;
    }
}

@media (max-width: 530px) {
    .Center {
        width: 85%;
        margin-left: 16%;
    }
}


@media (max-width: 380px) {
    .Center {
        width: 100%;
        margin: 0;
    }
}