.NavigationItem {
    box-sizing: border-box;
    height: 100%;
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
    margin: 0 auto;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
    background-color: #E1E8ED;
    border-radius: 20px;
}

.NavigationItem:first-child {
    margin-top: 0px;
}

@media (max-width: 700px) {
    .NavigationItem {
        width: 100%;
    }

    .NavigationItem a {
        max-width: 50px;
    }
}

@media(max-width: 530px) {
    .NavigationItem a svg {
        margin: 0 auto;
    }
}


@media(max-width: 400px) {
    .NavigationItem p {
        display: inherit;
    }

    .NavigationItem a svg {
        margin: 0 auto;
    }

    .NavigationItem a {
        width: 100%;
        max-width: none;
    }

    .NavigationItem {
        width: 100%;
    }
}

.Blue a {
    color: white;
    background-color: lightskyblue;
    border-radius: 20px;
}

.Blue a:hover {
    color: black;
}