.SideDrawer {
    position: fixed;
    display: flex;
    flex-flow: column;
    width: 150px;
    height: 100%;
    left: 0;
    top: 50px;
    z-index: 101;
    background-color: white;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    border-right: 2px solid lightgrey;
}

.SideDrawer nav {
    width: 90%;
    margin: 0 auto;
}

.Open {
    transform: translateX(0);
    width: 180px;
}

.Open a {
    max-width: 200px;
}

.Open p {
    display: inline;
}

.Close {
    transform: translate(0);
    width: 19%;
    max-width: 250px;
    border: none;
    margin-left: 230px;
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}

@media(max-width: 1560px) {
    .Close {
        margin-left: calc(10%);
    }
}

@media(max-width: 1256px) {
    .Close {
        margin-left: 0;
        width: 250px;
    }
}

@media(max-width: 1024px) {
    .Close {
        margin-left: 0;
        width: 24%;
    }
}

@media(max-width: 800px) {
    .Close {
        transform: translate(0);
        width: 24%;
    }

    .Close a {
        max-width: 200px;
    }
}

@media(max-width: 530px) {
    .Close {
        transform: translate(0);
        width: 15%;
    }

    .Close p {
        display: none;
    }
}

/* @media(max-width: 400px) {
    .SideDrawer {
        width: 200px;
    }

    .Close {
        transform: translate(0);
        width: ;
    }

    .Close p {
        display: none;
    }
} */

@media(max-width: 380px) {
    .Open {
        width: 180px;
    }

    .Close {
        transform: translate(-100%);
    }

    .Close p {
        display: none;
    }
}

@media(max-width: 320px) {
    .Open {
        width: 180px;
    }

    .Close {
        transform: translate(-100%);
    }

    .Close p {
        display: none;
    }
}
