.RankingDetail {
    min-height: 500px;
    max-width: 800px;
    width: 100%;
    background-color: #F5F8FA;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
}

.RankingTitle {
    width: 100%;
    text-align: center;
    background: #14171A;
    color: #F5F8FA;
}

.RankingTitle p {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    padding: 6px;
    margin: 0.5em;
}

.Date {
    margin-left: 0.5em;
    color: #657786;
    font-size: 13px;
    padding: 2px;
}

.EditBtn {
    margin: 10px 10px 0 0;
    width: 70px;
}

.Wrapper {
   display: flex;
}

.FloatLeft {
    width: 80%;
    padding-bottom: 1em;
}

.FloatMiddle {
    width: 100%;
    padding-bottom: 1em;
}

.FloatRight {
    width: 20%;
    border-left: 2px solid lightgray;
}

.RankingImg {
    margin-top: 0.5em;
}

.RankingAuthor {
    margin: 0.3em 0 0.3em 0.2em;
}

.RankingInteractions {
    height: 100%;
    margin-top: 0.5em;
}


.Content {
    padding: 10px 5px;
}

.RankingPositions {
    margin-top: 1em;
}

/* @media(min-width: 1024px) {
    .RankingDetail {
        float: left;
        margin-left: 252px;
    }
}

@media(min-width: 1256px) {
    .RankingDetail {
        margin-left: calc(10% + 252px);
    }
}

@media(min-width: 1560px) {
    .RankingDetail {
        margin-left: calc(15% + 252px);
    }
}

.InfScroll {
    display: none;
    width: 100%;
}

@media(max-width: 800px) {
    .RankingDetail {
        width: 75%;
    }
}

@media(max-width: 530px) {
    .RankingDetail {
        width: 84%;
    }
}

@media(max-width: 380px) {
    .RankingDetail {
        width: 100%;
    }
} */

.Header {
    text-align: center;
    font-weight: 700;
    background: #14171A;
    color: #F5F8FA;
    padding: 6px;
    border-bottom: 3px solid lightskyblue;
}