.GridLoading {
    display: grid;
    grid-template-columns: minmax(300px, 425px) minmax(300px, 425px);
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

@media (max-width: 810px){
    .GridLoading {
        grid-template-columns: minmax(300px, 470px);
    }
}