.ProfileNav {
    display: flex;
    background-color: #F5F8FA;
    text-align: center;
}

.NavBtn {
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #AAB8C2;
}

.NavBtn p {
    font-weight: 700;
    color:black;
}

.NavBtn:hover {
    padding-bottom: 7px;
    border-bottom: 4px solid lightskyblue;
}

.NavBtn:hover p {
    color: lightskyblue;
}

.Active {
    padding-bottom: 7px;
    border-bottom: 4px solid lightskyblue;
}