.CreateRanking {
    min-height: 500px;
    max-width: 800px;
    width: 100%;
    background-color: #F5F8FA;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
}

.CreateRanking h2 {
    padding: 8px;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid lightgrey;
}

.CreateRanking h3 {
    text-align: center;
    margin: 0;
    padding: 6px;
    /* border-bottom: 2px solid lightgrey; */
}

.Tip {
    position: relative;
    display: inline-block;
}

.TipText {
    visibility: hidden;
    width: 120px;
    background-color: lightyellow;
    padding: 5px;
    border-left: 4px solid yellow;
    font-size: 14px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -100px;
}

.Tip:hover .TipText {
    visibility: visible;
}

.Tip:hover svg {
    fill: lightgray;
}

.RankingForm {
    margin: 0 0 20px 10px;
    width: 65%;
}

.SubmitBtn {
    margin: 10px 10px 0 0;
}

/* @media(min-width: 1025px) {
    .CreateRanking {
        float: none;
        margin-left: 254px;
    }
}

@media(min-width: 1256px) {
    .CreateRanking {
        margin-left: calc(10% + 252px);
    }
}

@media(min-width: 1560px) {
    .CreateRanking {
        margin-left: calc(15% + 252px);
    }
}

/* @media(max-width: 1024px) {
    .CreateRanking {
        float: left;
        width: 73%;
        margin-right: 4px;
        margin-left: 250px;
    }
} */

/* @media(max-width: 800px) {
    .CreateRanking {
        width: 75%;
        margin-right: 2px;
        margin-left: 2px;
    }
}

@media(max-width: 530px) {
    .CreateRanking {
        width: 84%;
    }
}

@media(max-width: 380px) {
    .CreateRanking {
        width: 100%;
    }
} */
