.SearchHeader {
    background-color: black;
    color: #F5F8FA;
    text-align: center;
}

.SearchHeader h3 {
    margin: 0;
    padding: 10px;
}

.SearchHeader h4 {
    margin: 0;
    padding-bottom: 10px;
}

.RankingGrid, .UserGrid {
    margin-top: 8px;
    display: grid;
    grid-template-columns: minmax(300px, 425px) minmax(300px, 425px);
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

@media (max-width: 810px){
    .RankingGrid {
        grid-template-columns: minmax(300px, 470px);
    }

    .Wrapper {
        max-width: 425px;
    }

    .UserGrid {
        grid-template-columns: minmax(100px, 210px) minmax(100px, 210px);
    }
}

@media (max-width: 400px){
    .UserGrid {
        grid-template-columns: minmax(300px, 470px);
    }
}