.BlankProfileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.BlankProfileImg img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Avatar {
    width: 46px;
    height: 46px;
}

.Avatar img {
    width: 46px;
    height: 46px;
    object-fit: cover;
}

.AddBorder {
    -webkit-box-shadow: 0px 0px 1px 3px #657786;
    -moz-box-shadow: 0px 0px 1px 3px #657786;
    box-shadow: 0px 0px 1px 3px #657786;
}