.Input {
    width: 100%;
    margin-top: 5px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.InputElement {
    outline: none;
    border: 1px solid darkgray;
    border-radius: 5px 5px 5px 5px;
    background-color: #ccc;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #E7F5FE;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}