.CommentForm {
    margin: 10px 20px 20px 20px;
}

.RankingData {
    width: 90%;
    margin: 10px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.Line {
    border-bottom: 1px solid lightgray;
}

.InlineWrapper {
    display: flex;
}

.Bar {
    height: 40px;
    border-bottom: 1px solid lightgray;
}

.RankingImage {
    float: right;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.Title {
    padding: 0 0 20px 0;
    margin-top: 20px;
    font-weight: 700;
}

.DateCreated {
    margin: auto 20px auto 0;
}

.DateCreated p {
    color: darkgray;
    font-size: 16px;
}

form {
    margin-top: 20px;
}

.BlockWrapper {
    width: 60%;
}

@media (max-width: 400px) {
    .BlockWrapper {
        width: 100%;
    }

    .RankingImage {
        display: none;
    }
}