.Filters {
    max-width: 796px;
    color:	#F5F8FA;
    border-radius: 20px;
    margin-top: 5px;
    width: 300px;
    margin: 2px 0;
    text-align: center;
}

.Filters select {
    margin-right: 5px;
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 4px;
    width: 160px;
    color:	#F5F8FA;
    font-weight: 600;
    background-color: lightskyblue;
}

.Filters select:focus {
    outline: none;
}

.Filters select option {
    font-weight: 600;
}

.DateFilter {
    margin: 0 auto;
    padding: 4px 4px;
    display: flex;
    color: #F5F8FA;
}

.DateFilter p {
    margin-right: 8px;
    font-weight: 600;
    color: #F5F8FA;
    background-color: #14171A;
    border-radius: 20px;
    padding: 4px 11px;
}

@media (max-width: 810px) {
    .Filters {
        max-width: 425px;
    }
}
