.EditRanking {
    min-height: 500px;
    max-width: 800px;
    width: 100%;
    margin-right: 15px;
    background-color: #F5F8FA;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
}

.EditRanking h2 {
    padding: 10px 0;
    margin: 0 auto;
    /* border-radius: 0 0 40px 40px; */
    width: 100%;
    text-align: center;
    border-bottom: 3px solid lightskyblue;
    background-color:#14171A;
    color: #F5F8FA;
}

.EditRanking h3 {
    text-align: center;
    margin: 0;
    padding: 6px;
    /* border-bottom: 2px solid lightgrey; */
}

.Tip {
    position: relative;
    display: inline-block;
}

.TipText {
    visibility: hidden;
    width: 120px;
    background-color: lightyellow;
    padding: 5px;
    border-left: 4px solid yellow;
    font-size: 14px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -100px;
}

.Tip:hover .TipText {
    visibility: visible;
}

.Tip:hover svg {
    fill: lightgray;
}

.RankingForm {
    margin: 0 0 20px 10px;
    width: 65%;
}

.SubmitBtn {
    margin: 10px 10px 0 0;
}

/* @media(min-width: 1024px) {
    .EditRanking {
        float: left;
        margin-left: 252px;
    }
}

@media(min-width: 1256px) {
    .EditRanking {
        margin-left: calc(10% + 252px);
    }
}

@media(min-width: 1560px) {
    .EditRanking {
        margin-left: calc(15% + 252px);
    }
}

@media(max-width: 800px) {
    .EditRanking {
        width: 75%;
    }
}

@media(max-width: 530px) {
    .EditRanking {
        width: 84%;
    }
}

@media(max-width: 380px) {
    .EditRanking {
        width: 100%;
    }
} */

.PositionsHeader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    /* border-radius: 3px 3px 30px 30px; */
    border-bottom: 3px solid lightskyblue;
    color: #F5F8FA;
    background-color: #14171A;
}