.Thumbnail {
    display: flex;
    margin: 4px 0;
}

.Thumbnail a {
    margin: 0 auto;
}

.Wrapper {
    display: flex;
    margin: 0 auto;
}

.Wrapper:hover p {
    text-decoration: underline;
}

.BlankUserImg {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.BlankUserImg img {
    border: 1px solid grey;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Username {
    margin: auto 0.5em;
    font-weight: bold;
}

.UserImg img {
    border: none;
}

.SmallerUserImg {
    width: 27px;
    height: 27px;
}

.Center {
    justify-content: center;
}