.Comment {
    width: 100%;
    display: flex;
    margin-top: 1em;
    border-bottom: 1px solid lightgray;
}

.UserImg {
    width: 50px;
}

.UserImg img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0.5em 0.5em;
}

.Username p {
    font-weight: 700;
}

.FlexRow {
    display: flex;
}

.Timestamp {
    align-items: center;
}

.Timestamp p {
    margin-left: 2px;
    color: gray;
    font-size: 14px;
    padding: 2px;
}

.CommentInteractions {
    width: fit-content;
}

.CommentInteractions p {
    font-size: 12px;
    color: white;
    font-weight: 700;
    padding: 4px;
    border-radius: 35%;
    background-color: #AAB8C2;
}