.BlankRankingImg {
    border-radius: 50%;
}

.BlankRankingImg img {
    margin-top: 7px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.7;
}

.Inline {
    display: flex;
}

.RankingImg img {
    border: none;
    opacity: 1;
}

.BiggerImg {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.BiggerImg img {
    width: 140px;
    height: 140px;
}