.RankingImage {
    border: 2px solid gray;
    justify-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 0 auto;
}
/* HARD-CODED */
.RankingImage img {
    margin-top: 0.6em;
}

.Inline {
    display: flex;
}